<p>Hello!,</p>

<p>A new deal has been submitted to you!</p>

<p>Submitted By: {{ deal.get_submitter().contact }}<br />
Contact Phone #: {{ deal.get_submitter().contact.phone }}<br />
Contact Email: {{ deal.get_submitter().contact.email }}</p>

<p><strong>{{ deal.address }}</strong><br />
Bedrooms: {{ deal.bedrooms }} Bedrooms<br />
Bathrooms: {{ deal.bathrooms }} Bathrooms<br />
Sq Feet: {{ deal.sq_feet }} Sq. Feet<br />
Rehab Estimate: {{ deal.rehab_estimate|currency }}<br />
ARV: {{ deal.after_repair_value|currency }}<p>

{% if deal.under_contract_ind %}
<p>This deal is currently under contract.<br />
Contract's Purchase Price: {{ deal.purchase_price|currency }}<br />
This deal has been marketed at: {{ deal.list_price|currency }}</p>
{% else %}
<p>It is now known if this deal is under contract.<p>
{% endif %}

<p>Sincerely,<br />
The Assignably Team</p>
