<p>Hello!,</p>

<p>A new deal has been submitted to you!</p>

<p>Submitted By: {{ deal.get_submitter().contact }}<br />
Contact Phone: {{ deal.get_submitter().contact.phone }}<br />
Contact Email: {{ deal.get_submitter().contact.email }}</p>

<p><strong>{{ deal.address }}</strong><br />
Bedrooms: {{ deal.bedrooms_str }}<br />
Bathrooms: {{ deal.bathrooms_str }}<br />
Sq Feet: {{ deal.sq_feet }}<br />
Rehab Estimate: {{ deal.rehab_estimate }}<br />
ARV: {{ deal.after_repair_value }}<p>

{% if deal.under_contract_ind %}
<p>This deal is currently under contract.<br />
Contract's Purchase Price: {{ deal.purchase_price }}<br />
This deal has been marketed at: {{ deal.list_price }}</p>
{% else %}
<p>It is now known if this deal is under contract.<p>
{% endif %}

<p>Sincerely,<br />
The Assignably Team</p>
