
{{ dropzone.load_css() }}
<!-- App css -->
<link href="{{ url_for('static', filename='backend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='backend/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='backend/css/app.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='backend/css/external-style.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css">
   body { background: transparent !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<div id="wrapper" style="background-color: transparent;">
{% include 'deals/forms/create.html' %}
</div>
<script src="{{ url_for('static', filename='backend/js/vendor.min.js') }}"></script>
{% include 'deals/scripts/dropzone.html' %}

<script scrc="{{ url_for('static', filename='backend/js/app.min.js') }}"></script>
<script type="text/javascript">
function sendHeight()
{
    if(parent.postMessage)
    {
        // replace #wrapper with element that contains
        // actual page content
        var height= document.getElementById('wrapper').offsetHeight;
        parent.postMessage(height, '*');
    }
}

// Create browser compatible event handler.
var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
var eventer = window[eventMethod];
var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

// Listen for a message from the iframe.
eventer(messageEvent, function(e) {

    if (isNaN(e.data)) return;

    sendHeight();

},
false);
</script>
