
{{ dropzone.load_css() }}
<!-- App css -->
<link href="{{ url_for('static', filename='backend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='backend/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='backend/css/app.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='backend/css/external-style.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css">
   body { background: transparent !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<body style="background-color: transparent;">
{% include 'deals/forms/create.html' %}
</body>
<script src="{{ url_for('static', filename='backend/js/vendor.min.js') }}"></script>
{% include 'deals/scripts/dropzone.html' %}

<script scrc="{{ url_for('static', filename='backend/js/app.min.js') }}"></script>
<script type="text/javascript">
  // Get height of document
  function getDocHeight(doc) {
      doc = doc || document;
      // from http://stackoverflow.com/questions/1145850/get-height-of-entire-document-with-javascript
      var body = doc.body, html = doc.documentElement;
      var height = Math.max( body.scrollHeight, body.offsetHeight,
          html.clientHeight, html.scrollHeight, html.offsetHeight );
      return height;
  }

  // send docHeight onload
  function sendDocHeightMsg(e) {
      var ht = getDocHeight();
      parent.postMessage( JSON.stringify( {'docHeight': ht} ), '*' );
  }

  // assign onload handler
  if ( window.addEventListener ) {
      window.addEventListener('load', sendDocHeightMsg, false);
  } else if ( window.attachEvent ) { // ie8
      window.attachEvent('onload', sendDocHeightMsg);
  }
</script>
